@import url("reset.css");
@import url("common.css");
.main-wrapper {
  margin-top: 6.25rem;
}

.main-wrapper section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper section .title-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper section .title-cont .title {
  font-size: var(--font-size-32);
  font-weight: bold;
  text-align: center;
  color: #2e3666;
}

.main-wrapper section .title-cont .desc {
  margin-top: var(--font-size-16);
  font-size: var(--font-size-20);
  text-align: center;
  color: #666;
}

.main-wrapper section .title-cont .title-line {
  margin-top: 1.8125rem;
  width: var(--size-80);
  height: var(--size-6);
  background-image: -webkit-gradient(linear, left top, right top, from(#2299f4), to(#0bc890));
  background-image: linear-gradient(to right, #2299f4, #0bc890);
}

.main-wrapper section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--font-size-26);
}

.main-wrapper section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
}

.main-wrapper section ul li .item-desc .item-desc-title {
  font-size: var(--font-size-25);
  font-weight: bold;
  color: #111;
}

.main-wrapper section ul li .item-desc .item-desc-txt {
  margin-top: var(--size-11);
  font-size: var(--font-size-16);
  color: #666;
}

.main-wrapper section.section01 {
  background: url(../assets/section01_bg.jpg) no-repeat center/cover;
  height: 31.25rem;
  padding-top: 6.8125rem;
  padding-bottom: 6.5625rem;
}

.main-wrapper section.section01.section11 {
  background: url(../assets/main_banner.png) no-repeat center/cover;
  height: 50rem;
}

.main-wrapper section.section01 .section01-inner {
  width: 71.875rem;
}

.main-wrapper section.section01 .section01-inner .section01-title {
  height: 1.8125rem;
  font-size: var(--font-size-20);
  text-align: left;
  color: #fff;
}

.main-wrapper section.section01 .section01-inner .section01-desc {
  height: 10.3125rem;
  margin: 0.3125rem 0 2.1875rem;
  font-size: var(--font-size-62);
  font-weight: bold;
  line-height: 1.18;
  color: #fff;
}

.main-wrapper section.section01 .section01-inner .btn-reservation {
  width: 12.75rem;
  height: 3.5rem;
  border: solid 2px #fff;
  font-size: var(--font-size-14);
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.main-wrapper section.section02 {
  padding-top: 6.8125rem;
  padding-bottom: 6.25rem;
}

.main-wrapper section.section02 .chart-wrapper {
  width: 71.875rem;
  height: 31.875rem;
  margin: var(--size-80) 0 var(--font-size-40);
}

.main-wrapper section.section03 {
  height: 40.625rem;
  padding: 6.25rem 24.0625rem;
  background-color: #f8f9fd;
}

.main-wrapper section.section03 ul {
  width: 71.875rem;
  height: 28.125rem;
}

.main-wrapper section.section03 ul li {
  border: solid 1px #e5e5e5;
}

.main-wrapper section.section03 ul li img {
  width: 22.75rem;
  height: 16.25rem;
}

.main-wrapper section.section03 ul li .item-desc {
  padding: var(--font-size-30) var(--font-size-30) 0 var(--font-size-30);
}

.main-wrapper section.section04 {
  height: 39.5625rem;
  padding: 6.25rem 24.0625rem;
  background: #fff;
}

.main-wrapper section.section04 ul {
  width: 71.875rem;
  height: var(--size-450);
  margin-top: var(--size-80);
}

.main-wrapper section.section04 ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper section.section04 ul li .item-circle-wrapper {
  position: relative;
  width: 9.75rem;
  height: 9.75rem;
  border: solid 1px #e5e5e5;
  background-color: #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper section.section04 ul li .item-circle-wrapper .item-img-num {
  position: absolute;
  width: var(--size-48);
  height: var(--size-48);
  border-radius: 100%;
  top: 0;
  right: 0;
  background-color: #0bc890;
  font-size: var(--font-size-18);
  font-weight: bold;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper section.section04 ul li .item-desc {
  padding-top: var(--font-size-20);
}

.main-wrapper section.section04 ul li .item-desc .item-desc-txt {
  text-align: center;
}

.main-wrapper section.section05 {
  height: var(--size-395);
  background: url(../assets/img_service_bg.jpg) no-repeat center/cover;
}

.main-wrapper section.section05 .section05-inner {
  width: 71.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper section.section05 .section05-inner .section-left .title-cont {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-wrapper section.section05 .section05-inner .section-left .title-cont .title {
  color: #fff;
}

.main-wrapper section.section05 .section05-inner .section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--font-size-26);
}

.main-wrapper section.section05 .section05-inner .section-right ul li {
  height: var(--size-195);
  width: var(--size-395);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper section.section05 .section05-inner .section-right ul li .item-img {
  margin-left: var(--font-size-62);
  margin-right: 2.1875rem;
}

.main-wrapper section.section05 .section05-inner .section-right ul li .item-info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
}

.main-wrapper section.section05 .section05-inner .section-right ul li .item-info .info-title {
  position: absolute;
  top: var(--font-size-42);
  left: 0;
  font-size: var(--font-size-22);
  color: #fff;
}

.main-wrapper section.section05 .section05-inner .section-right ul li .item-info .info-count {
  position: absolute;
  top: var(--size-60);
  left: 0;
  font-size: var(--size-60);
  font-weight: bold;
  color: #fff;
}

.main-wrapper section.section06 {
  height: 58.0625rem;
}

.main-wrapper section.section06 ul {
  width: 71.875rem;
  height: 13.875rem;
  margin-top: var(--size-80);
  margin-bottom: 6.25rem;
}

.main-wrapper section.section06 ul li {
  padding: var(--font-size-30);
  border: solid 1px #e5e5e5;
}

.main-wrapper section.section06 ul li .item-date {
  width: 4.75rem;
  height: var(--font-size-24);
  padding: 0.1875rem 0.5rem;
  border-radius: 3px;
  background-color: #1ea5d2;
  font-size: var(--font-size-12);
  color: #fff;
}

.main-wrapper section.section06 ul li .item-subject {
  margin: var(--font-size-20) 0;
  font-size: var(--font-size-25);
  font-weight: bold;
  color: #111;
}

.main-wrapper section.section06 ul li .item-more a {
  font-size: var(--font-size-16);
  font-weight: bold;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper section.section06 ul li .item-more a .ic-news-more {
  content: url(../assets/ic_news_more.png);
  width: var(--font-size-20);
  height: var(--font-size-20);
}

.main-wrapper section.section06 .counsel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 71.875rem;
  height: 12.5rem;
  padding: 0 var(--size-60) 0 2.375rem;
  border-radius: 3px;
  background-color: #0bc890;
}

.main-wrapper section.section06 .counsel-info img {
  height: 12.5rem;
}

.main-wrapper section.section06 .counsel-info .counsel-info-cont {
  padding-left: 2.1875rem;
  padding-right: 7.6875rem;
}

.main-wrapper section.section06 .counsel-info .counsel-info-cont .counsel-info-cont-title {
  font-size: var(--font-size-32);
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}

.main-wrapper section.section06 .counsel-info .counsel-info-cont .counsel-info-cont-desc {
  font-size: var(--font-size-20);
  color: #fff;
}

.main-wrapper section.section06 .counsel-info .btn-white {
  width: 12.75rem;
  height: 3.5rem;
  background-color: #fff;
  font-size: var(--font-size-16);
  font-weight: bold;
  text-align: center;
  color: #0bc890;
}

.main-wrapper section.section07 {
  height: 14.375rem;
  background-color: #f8f9fd;
}

.main-wrapper section.section07 .cooper-company {
  width: 71.875rem;
}

.main-wrapper section.section07 .cooper-company .title {
  font-size: var(--font-size-32);
  font-weight: bold;
  color: #2e3666;
  margin-bottom: 2.8125rem;
}

.main-wrapper section.section07 .cooper-company .company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper section.section07 .cooper-company .company-list li {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.floating-counsel {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 7.8125rem;
  background-color: #111d47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.floating-counsel.on {
  display: none;
}

.floating-counsel-info {
  position: relative;
  width: 71.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.floating-counsel-info .img-wrap {
  position: absolute;
  bottom: 1.3125rem;
  left: 0;
}

.floating-counsel-info .img-wrap img {
  width: 7rem;
}

.floating-counsel-info .info-wrap {
  padding-left: 8.875rem;
  padding-top: 1.8125rem;
  padding-bottom: 1.6875rem;
}

.floating-counsel-info .info-wrap .title {
  font-size: var(--font-size-24);
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
}

.floating-counsel-info .info-wrap .desc {
  font-size: var(--font-size-18);
  line-height: 1.5;
  color: #fff;
}

.floating-counsel-info .btn-blue {
  position: absolute;
  top: calc(50% - 1.75rem);
  right: 0;
  width: 12.75rem;
  height: 3.5rem;
  background-color: #2299f4;
  font-size: var(--font-size-14);
  font-weight: bold;
  line-height: 1.43;
  text-align: center;
  color: #fff;
}

.modal-counsel {
  width: 25rem;
}

.modal-counsel p.desc {
  margin-top: var(--font-size-40);
  margin-bottom: var(--font-size-20);
  font-size: var(--font-size-14);
  color: #111;
}

.modal-counsel .email, .modal-counsel .kakao {
  display: none;
}

.question-wrapper {
  margin: 0 auto;
  margin-bottom: 6.25rem;
  padding-top: var(--font-size-30);
  width: 71.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--font-size-30);
}

.question-wrapper .question-list {
  border-top: 2px solid #2e3666;
}

.question-wrapper .question-list ul li {
  border-bottom: 1px solid #ccc;
}

.question-wrapper .question-list ul li details .ic-open-arrow {
  content: url("../assets/ic_list_arrow_down.svg");
  width: var(--font-size-14);
  height: 0.5rem;
}

.question-wrapper .question-list ul li details[open] .ic-open-arrow {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.question-wrapper .question-list ul li details summary {
  background: #fff;
  height: var(--size-80);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 var(--font-size-20);
  gap: var(--font-size-20);
}

.question-wrapper .question-list ul li details summary .ic-question {
  content: url("../assets/ic_faq_q_n.png");
}

.question-wrapper .question-list ul li details summary .item-title-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.question-wrapper .question-list ul li details summary .item-title-wrap .item-title1 {
  font-size: var(--font-size-13);
  color: #aaa;
}

.question-wrapper .question-list ul li details summary .item-title-wrap .item-title2 {
  font-size: var(--font-size-18);
  color: #111;
}

.question-wrapper .question-list ul li details .item-desc {
  background-color: #f8f9fd;
  border-top: 1px solid #ccc;
  border-left: 4px solid #1ea5d2;
  padding: var(--font-size-30);
  font-size: var(--font-size-14);
  line-height: 1.86;
  color: #666;
}
/*# sourceMappingURL=style.css.map */