@import "func.scss";
@import url("reset.css");
@import url("common.css");

//** Main *********
.main-wrapper {
  margin-top: 6.25rem;
  section {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;

    .title-cont {    
      display: flex;
      flex-direction: column;  
      align-items: center;
      .title {
        font-size: var(--font-size-32);
        font-weight: bold;      
        text-align: center;
        color: #2e3666;
      }
      .desc {
        margin-top: var(--font-size-16);        
        font-size: var(--font-size-20);
        text-align: center;
        color: #666;
      }
      .title-line {
        margin-top: 1.8125rem;
        width: var(--size-80);
        height: var(--size-6);
        background-image: linear-gradient(to right, #2299f4, #0bc890);
      }
    }

    ul {      
      display: flex;
      gap: var(--font-size-26);
      
      li {
        display: flex;
        flex-direction: column;
        background: #fff;       
        
        .item-desc {          
          .item-desc-title {
            font-size: var(--font-size-25);
            font-weight: bold;                            
            color: #111;
          }
          .item-desc-txt {
            margin-top: var(--size-11);
            font-size: var(--font-size-16);
            color: #666;
          }
        }
      }
    }

    &.section01 {
      background: url(../assets/section01_bg.jpg) no-repeat center /cover;
      height: 31.25rem;
      padding-top: 6.8125rem;
      padding-bottom: 6.5625rem;

      &.section11 {
        background: url(../assets/main_banner.png) no-repeat center /cover;       
        height: 50rem; 
      }
  
      .section01-inner {
        width: $main_width;      
        .section01-title {
          height: 1.8125rem;
          font-size: var(--font-size-20);        
          text-align: left;
          color: #fff;
        }
        .section01-desc {
          height: 10.3125rem;
          margin: 0.3125rem 0 2.1875rem;
          font-size: var(--font-size-62);
          font-weight: bold;        
          line-height: 1.18;        
          color: #fff;      
        }
        .btn-reservation {
          width: 12.75rem;
          height: 3.5rem;                
          border: solid 2px #fff;
          font-size: var(--font-size-14);
          font-weight: bold;        
          text-align: center;
          color: #fff;
        }
      }
    }

    &.section02 {
      padding-top: 6.8125rem;
      padding-bottom: 6.25rem;

      .chart-wrapper {
        width: $main_width;
        height: 31.875rem;
        margin: var(--size-80) 0 var(--font-size-40);
      }
    }

    &.section03 {      
      height: 40.625rem;      
      padding: 6.25rem 24.0625rem;
      background-color: #f8f9fd;

      ul {
        width: $main_width;
        height: 28.125rem;
        li { 
          border: solid 1px #e5e5e5;         
          img {width: 22.75rem;height: 16.25rem;}
    
          .item-desc {
            padding: var(--font-size-30) var(--font-size-30) 0 var(--font-size-30);          
          }
        }      
      }
    }

    &.section04 {
      height: 39.5625rem;
      padding: 6.25rem 24.0625rem;
      background: #fff;

      ul {
        width: $main_width;
        height: var(--size-450);
        margin-top: var(--size-80);        

        li {
          flex-grow:1;
          display: flex;
          align-items: center;
          .item-circle-wrapper {
            position: relative;
            width: 9.75rem;
            height: 9.75rem;            
            border: solid 1px #e5e5e5;
            background-color: #fff;
            border-radius: 100%;
            @include flex_center;

            .item-img-num {              
              position: absolute;
              width: var(--size-48);
              height: var(--size-48);   
              border-radius: 100%;
              top: 0;
              right: 0;           
              background-color: #0bc890;
              font-size: var(--font-size-18);
              font-weight: bold;              
              color: #fff;
              @include flex_center;            
            }
          }
          .item-desc {
            padding-top: var(--font-size-20);     
            .item-desc-txt {text-align: center;}       
          }
        }
      }
    }

    &.section05 {
      height: var(--size-395);
      background: url(../assets/img_service_bg.jpg) no-repeat center /cover;
      .section05-inner {
        width: $main_width;
        display: flex;
        justify-content: space-between;

        .section-left {
          .title-cont {
            align-items: flex-start;
            .title {color: #fff;}            
          }
        }
        .section-right {
          display: flex;
          gap: var(--font-size-26);

          ul li {
            height: var(--size-195);
            width: var(--size-395);
            border: 1px solid rgba(white, 0.5);
            background: transparent;
            display: flex;         
            flex-direction: row;   
            align-items: center;

            .item-img {
              margin-left: var(--font-size-62);
              margin-right: 2.1875rem;
            }

            .item-info {
              position: relative;
              flex: 1 1 auto;
              height: 100%;
              
              .info-title {
                position: absolute;
                top: var(--font-size-42);
                left: 0;

                font-size: var(--font-size-22);                
                color: #fff;
              }
              .info-count {
                position: absolute;
                top: var(--size-60);
                left: 0;
                font-size: var(--size-60);
                font-weight: bold;                
                color: #fff;
              }
            }
          }
        }
      }
    }

    &.section06 {
      height: 58.0625rem;

      ul {
        width: $main_width;
        height: 13.875rem;
        margin-top: var(--size-80);
        margin-bottom: 6.25rem;

        li {
          padding: var(--font-size-30);
          border: solid 1px #e5e5e5;

          .item-date {
            width: 4.75rem;
            height: var(--font-size-24);            
            padding: 0.1875rem 0.5rem;
            border-radius: 3px;
            background-color: #1ea5d2;
            font-size: var(--font-size-12);            
            color: #fff;
          }
          .item-subject {
            margin: var(--font-size-20) 0;
            font-size: var(--font-size-25);
            font-weight: bold;            
            color: #111;          
          }
          .item-more a{
            font-size: var(--font-size-16);
            font-weight: bold;            
            color: #666;
            display: flex;
            gap: 0.5625rem;
            align-items: center;

            .ic-news-more {
              content: url(../assets/ic_news_more.png);
              width: var(--font-size-20);
              height: var(--font-size-20);
            }
          }
        }
      }

      .counsel-info {
        display: flex;
        align-items: center;
        width: $main_width;
        height: 12.5rem;
        padding: 0 var(--size-60) 0 2.375rem;
        border-radius: 3px;
        background-color: #0bc890;

        img {height: 12.5rem;}
        .counsel-info-cont {
          padding-left: 2.1875rem;
          padding-right: 7.6875rem;
          .counsel-info-cont-title {
            font-size: var(--font-size-32);
            font-weight: bold;            
            color: #fff;
            margin-bottom: 1rem;
          }
          .counsel-info-cont-desc {            
            font-size: var(--font-size-20);            
            color: #fff;          
          }
        }

        .btn-white {          
          width: 12.75rem;
          height: 3.5rem;                    
          background-color: #fff;
          font-size: var(--font-size-16);
          font-weight: bold;          
          text-align: center;
          color: #0bc890;
        }
      }
    }

    &.section07 {
      height: 14.375rem;            
      background-color: #f8f9fd;

      .cooper-company {
        width: $main_width;
        .title {
          font-size: var(--font-size-32);
          font-weight: bold;          
          color: #2e3666; 
          margin-bottom: 2.8125rem;       
        }
        .company-list {
          display: flex;
          justify-content: space-between;
          li {
            background: transparent;
            @include flex_center;
          }
        }
      }
    }
  }
}

.floating-counsel {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 7.8125rem;  
  background-color: #111d47;
  display: flex;
  justify-content: center;
 
  &.on {display: none;}
  &-info {
    position: relative;
    width: $main_width;
    display: flex;
    
    .img-wrap {
      position: absolute;
      bottom: 1.3125rem;
      left: 0;
      img {width: 7rem;}
    }
    .info-wrap {
      padding-left: 8.875rem;
      padding-top: 1.8125rem;
      padding-bottom: 1.6875rem;
      .title {
        font-size: var(--font-size-24);
        font-weight: bold;      
        line-height: 1.5;
        color: #fff;
      }
      .desc {
        font-size: var(--font-size-18);        
        line-height: 1.5;        
        color: #fff;      
      }
    }
    .btn-blue {
      position: absolute;
      top: calc(50% - 1.75rem);
      right: 0;
      width: 12.75rem;
      height: 3.5rem;            
      background-color: #2299f4;
      font-size: var(--font-size-14);
      font-weight: bold;      
      line-height: 1.43;      
      text-align: center;
      color: #fff;
    }

  }
}

// modal
.modal-counsel {
  width: 25rem;
  // height: 214px;
  
  p.desc {
    margin-top: var(--font-size-40);
    margin-bottom: var(--font-size-20);
    font-size: var(--font-size-14);    
    color: #111;      
  }

  .email,.kakao {display: none;}
}

//** Question ***********
.question-wrapper {
  margin: 0 auto;
  margin-bottom: 6.25rem;
  padding-top: var(--font-size-30);
  width: $main_width;

  display: flex;
  flex-direction: column;
  gap: var(--font-size-30);

  .question-list {   
    border-top: 2px solid #2e3666;    
    ul li{            
      border-bottom: 1px solid #ccc;      
      details {        
        .ic-open-arrow {
          content: url("../assets/ic_list_arrow_down.svg");          
          width: var(--font-size-14);
          height: 0.5rem;          
        }
        &[open] {
          .ic-open-arrow {            
            transform: rotateX(180deg);
          }
          .ic-question {
            content: url("../assets/ic_faq_q_s.png");                       
          }
        }
        summary {
          background: #fff;
          height: var(--size-80);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 var(--font-size-20);
          gap: var(--font-size-20);

          .ic-question {
            content: url("../assets/ic_faq_q_n.png");                       
          }
          .item-title-wrap {
            flex: 1;

            .item-title1 {
              font-size: var(--font-size-13);              
              color: #aaa;
            }
            .item-title2 {
              font-size: var(--font-size-18);              
              color: #111;
            }
          }
        }
        .item-desc {
          background-color: #f8f9fd;
          border-top: 1px solid #ccc;
          border-left: 4px solid #1ea5d2;
          padding: var(--font-size-30);

          font-size: var(--font-size-14);          
          line-height: 1.86;          
          color: #666;        
        }
      }
    }
  }
}
